body{
     /* Venance KAOU */

     margin: 0px;
     padding: 0px;
     background: #1877f2;
     /* background: #9cbeeb; */

}

.chat{
     background-color: white;
     border-radius: 6px;
     padding:15px;
     box-shadow: 0 0 10px  rgba(0,0,0,0.1);
     width: 320px;
     height: auto;
     margin: 100px auto;
}
.user_account{
     padding: auto;
     display: flex;
     align-content: center;
     justify-content: space-between;
     margin: 5px 5px;
}
.user_account span{
     font-size: 20px;
     font-weight: bold;
     text-transform:capitalize;
     color: rgb(16, 16, 250);
}

.user_account button {
     background-color: rgb(236, 29, 14);
     border-radius:200px ;
     border: none;
     font-size: 12px;
     color: #fff;
     padding:0 8px;
}

.user_account button :hover {
    transition: 0.4s;
     padding: 1px;
}

.user_account button a {
     color: #fff;
     font-weight: bolder;
     text-decoration: none;
}

.chat_box{ 
    min-height: 250px;
    max-height: 300px;
    max-width: 320px;
    padding: 6px 4px;
    overflow: auto;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}

.chat_box .chargement_du_message {
     color: rgb(14, 177, 14);
     font-weight: bolder;
     text-align:center;
     margin-top:50px;
     font-size: 20px;

}

.my_message {
     border: 1px solid rgba(0, 0, 255, 0.2);
     box-shadow: 0 0 2px #1877f2;
     border-radius: 10px 0px 10px 10px;
     font-size: 14px; 
     /* width:  280px;  */
     width:  92%; 
     padding: 0px 5px;
     margin-top: 6px;   
     margin-right: auto;
     background-color: #1877f2;
}

.my_message .spane {
     color: #fff;
     margin-bottom: 0px;
     font-weight: bold;
     margin-top: 8px;
     padding: 0;
     font-size: 12px;
     text-align: start;
     display: flex;
     justify-content:end;

}
.my_message p {
     text-align: start;
     margin:6px;
     padding:3px;
     color: #fff;
     font-size: 16px;
     width: 96%;

}

.other_message{ 
     border: 1.5px solid rgba(0, 0, 255, 0.2);
     box-shadow: 0 0 2px #b4b2b2 ;
     border-radius: 10px 10px 10px 0px;
     font-size:14px;
     width: 92%;
     padding: 0px 5px;
     margin-top: 6px;   
     background-color: #d4cbcb;
     margin-left: auto;
}

.other_message .spane {
     color: #000;
     font-weight: bold;
     margin-bottom: 0px;
     margin-top: 8px;
     padding-top: 0px;
     font-size: 12px;
     text-align: start;
     display: flex;
     justify-content:end;
}

.other_message p{
     text-align: start;
     margin: 4px;
     padding:0 3px;
     color: #000;
     font-size: 16px;
     width: 96%;
}

.send_message{
     display: flex;
     flex-direction: column;
     padding: 6px;
}

.send_message textarea {
resize: none;
border: 2px solid rgba(0, 0, 255, 0.4);
border-radius: 6px ;
padding: 5px;
outline: 0;
text-align: center;
}

.send_message input[type='submit']{
     border: 1px solid #1877f2;
     background-color: #1877f2;
     padding:6px;
     cursor: pointer;
     border-radius: 6px;
     margin-top: 4px;
     color: #fff;
     font-size: 12px;
     font-weight: bold;

}
.chat_box .auteur_du_message {
     font-size: 14px;
     font-weight: bolder;
     text-transform:capitalize;
     color:rgb(4, 4, 223);
     display: flex;
     margin:2px 0 2px 8px;
     justify-content: start;
     padding: 0px;
}
